<phpunit bootstrap="tests/bootstrap.php"
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    processIsolation="false"
    stopOnFailure="true"
    syntaxCheck="false">
    
    <testsuites>
        <testsuite name="All Test">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    
</phpunit>