<nav class="navbar navbar-inverse" role="navigation">
  <ul class="nav navbar-nav">
    <a class="navbar-brand" href="{{path('homepage')}}">Litle Blog</a>
    <li><a href="{{path('dashboard')}}">Dashboard</a></li>
    <li><a href="{{path('articles')}}">Articles</a></li>
    <li><a href="{{path('admin_logout')}}">Logout</a></li>
  </ul><!--nav-->
</nav>