<!-- Modal -->
<div class="modal fade" id="addPhoto" tabindex="-1" role="dialog" aria-labelledby="addPhotoLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Add photo</h4>
      </div>
      <div class="modal-body">
        <div id="container">
          <div id="filelist">Your browser doesn't have Flash, Silverlight or HTML5 support.</div>
          <br />
          <span class="btn btn-warning fileinput-button" id="pickfiles">
            <i class="glyphicon glyphicon-plus"></i>
            <span>[Select files]</span>
          </span>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <span class="btn btn-success fileinput-button" id="uploadfiles">
          <i class="glyphicon glyphicon-save"></i>
          <span>[Upload files]</span>
        </span>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->