<!-- Modal -->
<div class="modal fade" id="deleteDbImage" tabindex="-1" role="dialog" aria-labelledby="delPhotoLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Brisanje slike sa servera</h4>
      </div>
      <div class="modal-body">
        <p>Da li ste sigurni da želite izbrisati sliku sa internet servera? Izbrisana slika više neće biti dostupna u ostalim člancima.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Poništi</button>
        <button type="button" class="btn btn-danger">
           <span class="glyphicon glyphicon-warning-sign"></span> Izbriši sliku
        </button>
       
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->