{% extends 'admin/layout.twig' %}

{% block headerScripts %}
  {{ parent() }}
  <script type="text/javascript" src="/js/tinymce/tinymce.min.js"></script>
  <script type="text/javascript">
    tinymce.init({
      height: "350",
      selector: "textarea",
      language: "bs",
      menu: 'false',
      plugins: "wordcount save",
      toolbar: " undo redo | | save cancel | bold italic underline | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent |  removeformat",
      save_enablewhendirty: true,
      save_onsavecallback: function() {console.log("Save");}
    });
  </script>
{% endblock %}

{% block main %}
  <form method="post" role="form">
    <div class="form-group">
      <label for="title">Title</label>
      <input type="text" name="title" class="form-control" id="title" value="{{ article.title|e }}">
    </div>
    <div class="form-group">
      <label for="body">Body</label>
      <textarea class="form-control" name="body" id="body">{{ article.body|e }}</textarea>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
{% endblock %}


{% block sidebar %}
  <h2>Main column</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi, quos, molestiae, perspiciatis fugiat facilis rem dicta eum minus fugit culpa nobis autem. Beatae minima nihil doloremque accusamus explicabo voluptas nemo?</p>
{% endblock %}
  
  {%block javascript%}
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/js/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/js/bootstrap.min.js"></script>
    <!-- The jQuery UI widget factory, can be omitted if jQuery UI is already included -->
    <script src="/js/imageUpload/jquery.ui.widget.js"></script>
    <!-- The Load Image plugin is included for the preview images and image resizing functionality -->
    <script src="/js/imageUpload/load-image.min.js"></script>
    <!-- The Canvas to Blob plugin is included for image resizing functionality -->
    <script src="/js/imageUpload/canvas-to-blob.min.js"></script>
    <!-- The Iframe Transport is required for browsers without support for XHR file uploads -->
    <script src="/js/imageUpload/jquery.iframe-transport.js"></script>
    <!-- The basic File Upload plugin -->
    <script src="/js/imageUpload/jquery.fileupload.js"></script>
    <!-- The File Upload processing plugin -->
    <script src="/js/imageUpload/jquery.fileupload-process.js"></script>
    <!-- The File Upload image preview & resize plugin -->
    <script src="/js/imageUpload/jquery.fileupload-image.js"></script>
    <!-- MY script -->
    <script src="/js/pagescript.js"></script>
  {% endblock %}

