{% extends 'admin/layout.twig' %}

{% block headerScripts %}
  {{ parent() }}
  <script type="text/javascript" src="/js/tinymce/tinymce.min.js"></script>
  <script type="text/javascript">
    tinymce.init({
      selector: "textarea"
    });
  </script>
{% endblock %}

{% block main %}
  <form method="post" role="form">
    <div class="form-group">
      <label for="title">Title</label>
      <input type="text" name="title" class="form-control" id="title" value="{{ article.title|e }}">
    </div>
    <div class="form-group">
      <label for="body">Body</label>
      <textarea class="form-control" name="body" id="body">{{ article.body|e }}</textarea>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
{% endblock %}


{% block sidebar %}
  <h2>Main column</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi, quos, molestiae, perspiciatis fugiat facilis rem dicta eum minus fugit culpa nobis autem. Beatae minima nihil doloremque accusamus explicabo voluptas nemo?</p>
{% endblock %}

