{% extends 'admin/layout.twig' %}

{% block headerScripts %}
  {{ parent() }}
<link href="/css/myCSS.css" rel="stylesheet" media="screen">
<script type="text/javascript" src="/js/tinymce/tinymce.min.js"></script>
<script type="text/javascript">
  tinymce.init({
    height: "350",
    selector: "textarea",
    language: "bs",
    menu: 'false',
    plugins: "wordcount save",
    toolbar: " undo redo | | save cancel | bold italic underline | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent |  removeformat",
    save_enablewhendirty: true,
    save_onsavecallback: function() {
      console.log("Save");
    }
  });
  </script>
{% endblock %}

{% block main %}

  <h2>Menage Images</h2>

  <div id="container">
    <div id="filelist">Your browser doesn't have Flash, Silverlight or HTML5 support.</div>
    <br />
    <span class="btn btn-primary fileinput-button" id="pickfiles">
      <i class="glyphicon glyphicon-plus"></i>
      <span>[Select files]</span>
    </span>
    <span class="btn btn-success fileinput-button" id="uploadfiles">
      <i class="glyphicon glyphicon-save"></i>
      <span>[Upload files]</span>
    </span>
  </div>

  <br />

  <form method="post" role="form">
    <div class="form-group">
      <label for="title">Title</label>
      <input type="text" name="title" class="form-control" id="title" value="{{ article.title|e }}">
    </div>
    <div class="form-group">
      <label for="body">Body</label>
      <textarea class="form-control" name="body" id="body">{{ article.body|e }}</textarea>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
{% endblock %}

{% block sidebar %}
  <h2>Main column</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi, quos, molestiae, perspiciatis fugiat facilis rem dicta eum minus fugit culpa nobis autem. Beatae minima nihil doloremque accusamus explicabo voluptas nemo?</p>
{% endblock %}

  {%block javascript%}
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="/js/jquery.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="/js/bootstrap.min.js"></script>
  <!-- Plupload script for menage images upload -->
  <script src="/js/plupload/plupload.full.min.js"></script>
  <!-- MY script -->
  <script src="/js/pagescript.js"></script>
  <script src="/js/admin_pagescript.js"></script>
  {% endblock %}