<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block headerScripts %}
      <!-- Bootstrap -->
      <link href="/css/bootstrap.min.css" rel="stylesheet" media="screen">
      <link href="/css/bootstrap-theme.min.css" rel="stylesheet" media="screen">
    {% endblock %}

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
  </head>
  <body id="{{pageId}}">
    <section class="container">
      
      
      <div class="content row">
        {% include 'admin/_header.twig' %}
        <section class="main col col-lg-8">
          {% block main %}
          {% endblock %}
        </section><!-- main column -->

        <section class="sidebar col col-lg-4">
          {% block sidebar %}
          {% endblock %}
        </section><!-- siedebar -->
        
        
      </div><!-- content -->

    {%block javascript%}
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="/js/jquery.js"></script>
        <!-- jQuery tinyMCE -->
        <script src="/js/tinymce/jquery.tinymce.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/pagescript.js"></script>
    {%endblock%}
      </body>
    </html>